
<% content_for :title, "AMIS - About us" %>


	<h1>About us</h1>
	<div class="row alignCentre aboutPage">
		<div id="div1" style="{float:left;}">
			<p>Welcome to AMIS (A Marketplace for Industrial Symbiosis). This is a website designed to help SMEs improve profits and reduce waste! The main aim of this site is to help companies become part of the circular economy. We offer SMEs the oppurtunity to buy and sell waste products.  </p>
        </div>          
        <div id="div2" style="{float:left;}">
            <h3>The Circular Economy</h3>
            <p>WRAP - 
            "A circular economy is an alternative to a traditional linear economy (make, use, dispose) in which we keep resources in use for as long as possible, extract the maximum value from them whilst in use, then recover and regenerate products and materials at the end of each service life." <%= link_to "WRAP to learn more", "http://www.wrap.org.uk/content/wrap-and-circular-economy", :target => "_blank" %></p>
        </div>

        <div id="div3" style="{float:left;}">
            <h3>Quotes from users</h3>
            <p>Alex - "Really like the ease of use of the site, will make sure to sell my waste here!"</p>
            <p>Anonymous - "The private postings have really helped me feel confident in selling my offcuts on AMIS!"</p>

        </div>
    </div>
<br> </br>
      <footer>
        <p>© AMIS <%= Time.now.year %> </p>
      </footer>
